/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
}
p {
  border: 1px solid black;
  background-color: #A52A2A;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop version **********/
@media (min-width: 992px) {
	
	.col-dk-1, .col-dk-2, .col-dk-3, .col-dk-4, .col-dk-5, .col-dk-6, .col-dk-7, .col-dk-8, .col-dk-9, .col-dk-10, .col-dk-11, .col-dk-12 {
		float: left;
		border: 1px solid black
	}
	
	.col-dk-1 {
		width: 8.33%;
	}
	.col-dk-2 {
		width: 16.66%;
	}
	.col-dk-3 {
		width: 25%;
	}
	.col-dk-4 {
		width: 33.33%;
	}
	.col-dk-5 {
		width: 41.66%;
	}
	.col-dk-6 {
		width: 50%;
	}
	.col-dk-7 {
		width: 58.33%;
	}
	.col-dk-8 {
		width: 66.66%;
	}
	.col-dk-9 {
		width: 74.99%;
	}
	.col-dk-10 {
		width: 83.33%;
	}
	.col-dk-11 {
		width: 91.66%;
	}
	.col-dk-12 {
		width: 100%;
	}
}

/********** Tablet version **********/
@media (min-width: 768px) and (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
}



